  <section class="function container-fluid">
    <div class="row">
      <div class="function-images">
        
          <div class="function-image">
            <%= link_to image_tag('top_img.png', :align => 'center'), pictures_path %>
          </div>

      </div>
    </div>  

    <div id="page-top-btn" class="page-top-btn">
        <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
  </section>